*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
#container{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* header */
header{
    width: 100%;
    height: 60px;
    background-color: lightgray;
    position: fixed;
    display: flex;
    flex-direction: row;
}

header img{
    height: 80%;
    width: auto;
}



header i{
    font-size: 1.2em;
    margin: 0 7%;
}

/* header sx */
#header-sx{
    width: 30%;
    height: 60px;
    padding: 0 2%;
    color : grey;
    border-right: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-sx span{
    width: 30%;
}

/* header dx */
#header-dx{
    width: 70%;
    height: 60px;
    padding: 0 2%;
    color : grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-dx span{
    width: 12%;
}

/* parte sx */
#parte-sx{
    width: 30%;
    height: calc(100vh - 60px);
    background-color: white;
    position: fixed;
    bottom: 0;
}


#ricevi-notifiche{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

#ricevi-notifiche span{
    border-radius: 50%;
    background-color: white;
    padding: 5%;
    color: lightblue;
    margin-left: 2%;
}

#ricerca-chat{
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ricerca-chat input{
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 40px;
}

.chat {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
}

.chat img{
    height: 70%;
    width: auto;
    margin: 0 4%;
}

/* parte dx */
#parte-dx{
    height: 1000px;
    background-image: url(../img/sfondo.jpg);
}

/* footer */
footer{
    width: 70%;
    height: 60px;
    background-color: lightgray;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    bottom: 0;
    right: 0;
}

footer input{
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 30px;
}
footer i {
    font-size: 2em;
    margin: 0 2%;
}