*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

i{
    cursor: pointer;
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: #387;
    z-index: -1;
}

/* MAIN */
.container{
    width: 80%;
    height: 95%;
    margin:auto;
    display: flex;
    z-index: 1;
}

.parte-sx,
.parte-dx  {
    float: left;
    height: 100%;
}

.header-sx,
.header-dx  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #eee;
    font-size: 22px ;
    color: #999;
}

.header-sx img,
.header-dx img {
    width: 50px;
    height: 50px;
    margin : auto 0 auto 10px;
}

.header-sx > *,
.header-dx > * {
    display: flex;
    width: 40%;
    height: 100%;
}

.header-sx .f-dx,
.header-dx .f-dx {
    text-align: right;
}

.header-sx .f-dx > *,
.header-dx .f-dx > * {
    margin: auto;
}


.f-dx{
    float: right;
}

.f.sx{
    float: left;
}

.f-dx > *{
    margin: auto;
}

/* parte sx */
.parte-sx{
    width: 35%;
    border-right: solid 1px black;
    background-color: rgb(119, 130, 177);
}

.ricevi-notifiche{
    width: 100%;
    height: 80px;
    background-color: lightblue;
    display: flex;
}

.ricevi-notifiche span{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto 0 auto 15px;
    background-color: white;
    text-align: center;
    line-height: 55px;
   color: lightblue;
}

.ricevi-notifiche div{
    width: calc(100%- 80px);
    margin: auto;
    padding: 0 10px;
}

.ricevi-notifiche h3{
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.ricevi-notifiche a{
    color: #4F7485;
    font-size: 13px;
}

.ricerca-chat{
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ricerca-chat input{
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 40px;
}

.chat {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
}

.chat img{
    height: 70%;
    width: auto;
    margin: 0 4%;
}

/* parte dx */
.parte-dx{
    width: 65%;
    background-color: lightseagreen;

}

.parte-dx .img-nome{
    display: flex;
}

.parte-dx .img-nome span{
    margin: 10px ;
}

.right-messages-container{
    width: 100%;
    height: calc(100% - 70px - 70px);
}

.right-messages-container .message{
    position: relative;
    float: left;
    clear: both;
    min-width: 10px;
    max-width: 60%;
    margin: 10px;
    padding: 15px;
    background-color: grey;
    border-radius: 10px;
    z-index: 100;
    font-size: 15px;
}

.right-messages-container .sent{
    float: right;
}

.right-messages-container .message .message-time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 13px;
}

.right-messages-container .message .message-options, 
.right-messages-container .message .message-options-panel{
    display: none;
}

.right-messages-container .message:hover .message-options,
.right-messages-container .message:hover .message-options-panel{
 display: block;

}

.right-messages-container .message .message-options-panel{
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    left: 0;
}

/* footer */
footer{
    width: 100%;
    height: 70px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

footer input{
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 30px;
}
footer i {
    font-size: 2em;
    margin: 0 2%;
}